{% extends 'polls/index.html' %}
{% load static %}
<script src="{% static 'polls/js/userinfo.js' %}"></script>
{% block patient_form %}


<form class="form-horizontal" action="http://localhost:8000/doctor/main_information/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class=".input-lg" type="submit" value="给此病人开处方" />
</form>

<script>

    var name = '{{ name|safe }}';
    var element=document.getElementById("login");
    element.innerHTML =  "<a href='http://localhost:8000/用户权限'><span >"+name+"</span></a>";
    var man = document.getElementById("id_操作人");
    man.value = name;
    var num = '{{ num|safe }}';
    var insert_num_input = document.getElementById("id_挂号编号");
    insert_num_input.value = num
</script>
{% endblock %}